*{
	padding:0;
	margin:0;
}
.main-box
{
	width: 550px;
	height: 700px;
	background-color: #f1f1f1;
    margin:auto;
    display: flex;
    flex-direction: column;
     box-shadow: 10px 10px 5px #888888; 
     margin-top: 30px;
     text-align: center;
}
.catogry
{
	margin:20px;
}
.catogry select
{
	width: 200px;
	height: 30px;
}
.items
{
   margin-top: 30px; 
    
}
.items input
{
	width: 250px;
	height: 40px;
	font-size: 20px;
}